* {
	--bg-blue: #1992d4;
	--bg-gray: #e2e8f0;

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.sidebar p {
	color: white;
}

.card p {
	color: gray;
}

.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;

	grid-template-areas:
		"sidebar header"
		"sidebar content";
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--bg-blue);

	display: flex;
	flex-direction: column;
}

.sb-header {
	font-size: 1.25rem;
}

.bold {
	font-weight: 600;
}

.sidebar p {
	margin: auto auto auto 1rem;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.icon,
.display-pic-mini {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid white;
}

.header .icon,
.display-pic-mini {
	border: 1px solid black;
}

.icon:first-of-type {
	width: 1.5rem;
	height: 1.5rem;
}

.sb-group,
.sb-header {
	display: flex;
	margin: 1.25rem;
}

.sb-group:first-of-type {
	margin-top: 1.5rem;
}

#search {
	background-color: var(--bg-gray);
	border: none;
	display: inline-block;
	height: 1.5rem;
	width: 400px;
	border-radius: 12px;
	padding-left: 12px;
	padding-right: 12px;
}

.header-top-row {
	display: flex;
	margin-top: 1.25rem;
}

.header-top-row div {
	margin-left: 1rem;
}

.content {
	background-color: var(--bg-gray);
}

.subheading {
	font-weight: 600;
	color: black;
}

.project-card {
	display: inline-block;
	width: 300px;
	background-color: white;
	border-radius: 4px;
	border-left: 6px solid #f0b429;
	padding: 2rem 1rem;
}

.project-heading {
	font-weight: 600;
}
