* {
	--bg-blue: #1992d4;

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.sidebar p {
	color: white;
}

.card p {
	color: gray;
}

.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;

	grid-template-areas:
		"sidebar header"
		"sidebar content";
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--bg-blue);

	display: flex;
	flex-direction: column;
}

.sb-header {
	font-size: 1.25rem;
}

.sidebar p {
	font-weight: 600;
	margin: auto auto auto 1rem;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid white;
}

.icon:first-of-type {
	width: 1.5rem;
	height: 1.5rem;
}

.sb-group,
.sb-header {
	display: flex;
	margin: 1.25rem;
}

.sb-group:first-of-type {
	margin-top: 1.5rem;
}
